/* SEZIONE CSS GENERALE */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SEZIONE HEADER */
header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-size: 220px;
}
/* SEZIONE MAIN */
.logo{
    padding-top: 1%;
    width: 150px;
}

.article-title{
    margin-top: 1%;
    margin-left: 5px;
}

.author{
    color: #5CA9C9;
}

.data{
    color: #A7A7A7;
    font-size: 10px;
}

.black-small-text{
    font-size: 9px;
}

/* EVIDENZIATORE */
.highlighted{
    background-color: yellow;
}

/* ZONA TABELLA */
table{
    border-collapse: collapse;
    border: none;
}

.lineablu{
    color: white;
    background-color: #1DACDF;
}

.lineabianca{
    background-color: #B1E6F2;
}

/* SEZIONE FINALE */
#img1{
    color: white;
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
}

#img2{
    color: white;
    background-image: url(./img/graph.jpg);
    width: 250px;
    height: 200px;
}