/* SEZIONE CSS GENERALE */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{ 
    width: 90%;
    margin: 0 auto;
}

/* SEZIONE HEADER */
header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-size: 220px;
}
/* SEZIONE MAIN */
.logo{
    padding-top: 1%;
    width: 150px;
}

.p1{
    padding-bottom: 15px;
}

.address{
    margin-bottom: 15px;
}

.article-title{
    margin-top: 1%;
    margin-left: 5px;
}

.images{
    padding-bottom: 15px;
}

.author{
    color: #5CA9C9;
}

.data{
    color: #A7A7A7;
    font-size: 12px;
}

.caption{
    font-size: 9px;
}

/* EVIDENZIATORE */
.highlighted{
    background-color: yellow;
}

.list1{
    margin-left: 16px;
    padding-bottom: 15px;
}

/* ZONA TABELLA */
.table{
    border-collapse: collapse;
    border: none;
    padding-bottom: 15px;
}

.cell-1{
    width: 25%;
}


.tableheader{
    background-color: #1DACDF;
    color: white;
}

.linea-blu{
    color: black;
    background-color: #B1E6F2;
}

.linea-bianca{
    background-color: white;
}

/* SEZIONE FINALE */
.paragraph-3{
    padding-top: 15px;
    padding-bottom: 20px
}

.Interest{
   color: gray;
   padding-bottom: 10px
}

.img1{
    color: white;
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
    font-size: 26px;
}

.img2{
    color: white;
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
    font-size: 26px;
}