/* SEZIONE CSS GENERALE */

header{
    background-color: #588dff;
    background-image: url("../img/pattern.png");
    background-size: contain; height: 150px;
    background-position: right;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    height: 100px;
}